@tailwind base;
@tailwind components;
@tailwind utilities;

/* Gradient Border Animation */
@keyframes gradient-border {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-border {
  background: linear-gradient(90deg, #ff6ec4, #7873f5, #3ae374, #ff9a9e);
  background-size: 200% 200%;
  animation: gradient-border 5s linear infinite;
  border-radius: 16px; /* Same as inner container */
  padding: 4px; /* Space for the border effect */
}

.inner-container {
   /* Dark background to contrast the gradient */
  border-radius: 16px;
  padding: 1rem;
  width: 100%;
}



body.dark .inner-container {
   /* Dark background for inner container */
}

body.dark .gradient-border {
  background: linear-gradient(90deg, #ff6ec4, #7873f5, #3ae374, #ff9a9e);
  background-size: 200% 200%;
  animation: gradient-border 5s linear infinite;
  border-radius: 16px; /* Same as inner container */
  padding: 4px; /* Space for the border effect */
}

/* Optional: Additional dark mode styling for text and elements */




body.dark .bg-gray-700 {
  background-color: #4a5568;
}

body.dark .border-gray-300 {
  border-color: #4a5568;
}

body.dark .bg-blue-500 {
  background-color: #3182ce; /* Adjust color for dark mode */
}

body.dark .bg-yellow-500 {
  background-color: #d69e2e; /* Adjust color for dark mode */
}

body.dark .bg-red-500 {
  background-color: #e53e3e; /* Adjust color for dark mode */
}
